<!DOCTYPE html>
<html lang="en" ng-app="App">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AngularJS - Kod Evreni</title>
    <link rel="stylesheet" href="style.css" />
</head>
<body ng-controller="Controller">
    <input type="text" ng-model="searchName" placeholder="Aramak istediğiniz ismi yazın" /><br>
    <select ng-model="searchThread">
        <option value="PHP">PHP</option>
        <option value="JS">JS</option>
        <option value="Arduino">Arduino</option>
        <option value="Unity">Unity</option>
    </select><br>
    <button ng-click="isim()">İsim</button>
    <button ng-click="konu()">Konu</button>
    <ul ng-repeat="kisi in kisiler | filter:searchName | filter:searchThread | orderBy: order: reverse">
        <li>İsim: {{kisi.isim}} | Konu: {{kisi.konu}}</li>
    </ul>
    <script src="angular.min.js"></script>
    <script src="custom.js"></script>
</body>
</html>