<!DOCTYPE html>
<html lang="en" ng-app="App">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AngularJS - Kod Evreni</title>
</head>
<body ng-controller="Controller">
    <label for="">1. Sayı</label><br />
    <input type="number" ng-model="sayi1" /><br />
    <label for="">2. Sayı</label><br />
    <input type="number" ng-model="sayi2"><br />
    {{sayi1 + sayi2}}
    <script src="angular.min.js"></script>
    <script src="custom.js"></script>
</body>
</html>