<!DOCTYPE html>
<html lang="en" ng-app="App">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AngularJS - Kod Evreni</title>
</head>
<body ng-controller="Controller">
    <label>İsim:</label><br/>
    <input type="text" ng-model="isim" placeholder="İsim" /><br />
    <div ng-show="isim == 'Halit'">
        <h4>Ooo, sen misin? Hoşgeldin kardeşim.</h4>
    </div><br/>
    <label>Yazılabilsin mi:</label>
    <input type="checkbox" ng-model="readonly" /><br />
    <input type="text" placeholder="Metin" ng-readonly="readonly" /><br/>
    <button ng-disabled="isim == '' || !readonly">Tıkla</button>
    <script src="angular.min.js"></script>
    <script src="custom.js"></script>
</body>
</html>