.arkaplan1{
    background-color: cyan;
    color: #000000;
    padding: 10px;
    border-radius: 5px;
    width: 50%;
}
.arkaplan2{
    background-color: brown;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    width: 50%;
}